head, body{
    font-family: 'Dancing Script', cursive; 
    font-weight: bold;
    text-align: center;
    background-image: url("https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwiCxPGx7IDkAhXvguAKHdLWBMkQjRx6BAgBEAQ&url=https%3A%2F%2Fwww.freepik.com%2Ffree-https://img.freepik.com/free-vector/metallic-textured-background_53876-89254.jpg?size=626&ext=jpg-vectors%2Fdark-grey-background&psig=AOvVaw18x9yruQjBP1-Y0iG6knuR&ust=1565820006602746");
    
}

#projectName {
    font-size: 90px;
    color: white;
    text-shadow: 2px 0 0 pink, -2px 0 0 pink, 0 2px 0 pink, 0 -2px 0 pink, 1px 1px pink, -1px -1px 0 pink, 1px -1px 0 pink, -1px 1px 0 pink;
    float: left;
    width: 300px;
    margin-left: 200px;

}

#movieGif, #movieInfo, #drinkGif, #drinkInfo{
    border:solid;
    border-color:gray;
    width:350px;
    height:350px;
    float: left;
    
}
.parallax{
    
    text-align: center; 
    margin-bottom: 300px;
    height: 450px;
    


}
.brand-logo{
    float:left;
    margin-left: -100px;
}
nav{
    background-image: linear-gradient(to right,rgb(198, 147, 156),rgb(1, 34, 72));
   
    letter-spacing: 2px;
    
}

.nav-wrapper {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif; 
}



.flow-text {
    color: white;
}

.container {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    letter-spacing: 2px;
}

#Gin,#Mai,#Bahama{
width:100%;
height:250%;
}
#cubaLibre{
    width:75%;
height:250%;
}
#Mojito{
    width:75%;
height:350px;
}